<.title_block>
  <div class="text-center text-3xl sm:text-5xl">Personal Tech Radar</div>
</.title_block>

<.main>
  <div class="flex flex-wrap gap-4">
    <article class="flex-1">
      <div class="text-xl">Tech I'm Using</div>
      <ul class="px-5 list-disc">
        <li>Elixir</li>
        <li>Phoenix</li>
        <li>LiveView</li>
        <li>Terraform</li>
        <li>Tailwind CSS</li>
        <li>Docker</li>
        <li>AWS</li>
        <li>GCP</li>
        <li>Javascript</li>
        <li>PostgreSQL</li>
        <li>Linux (mostly debian variants)</li>
      </ul>
    </article>

    <article class="flex-1">
      <div class="text-xl">Tech I'm Interested In</div>
      <ul class="px-5 list-disc">
        <li>Rust</li>
        <li>ChatGPT</li>
        <li>Flutter</li>
        <li>GraphQL</li>
        <li>Elm</li>
        <li>React</li>
        <li>Reason</li>
      </ul>
    </article>

    <article class="">
      <div class="text-xl">Other Tech I've Used</div>
      <ul class="px-5 list-disc">
        <li>Kubernetes</li>
        <li>Python</li>
        <li>Ruby</li>
        <li>Rails</li>
        <li>Vue.js</li>
        <li>Webpack</li>
        <li>Django</li>
        <li>Couchbase</li>
        <li>MongoDB</li>
        <li>PHP</li>
        <li>Java</li>
        <li>C#</li>
      </ul>
    </article>
  </div>
</.main>
